@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url(OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "OpenSansBold";
  src: local("OpenSansBold"), url(OpenSans-Bold.ttf) format("truetype");
}
